/*
Theme name: MUSAS
Author: theocejo
*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Kadwa&family=Texturina:wght@800&display=swap');


html{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Kadwa', serif;
    color: #B700FF;
}
a{
    color: black;
}

    /*NAVBAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    color: #B700FF;
    font-size: 16px;
    font-family: 'Texturina', serif;
}

.logo{
    margin: 3em;
}
.cart{
    margin: 3em;
}
.menu ul {
    margin: 0;
    padding: 0;
    padding-right: 3em;
    display: flex;
}
.menu ul li{
    list-style: none;
    font-family: 'Texturina', serif;
}
.menu ul li a{
    transition: 0.420s;
    text-decoration: none;
    color: #B700FF;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Texturina', serif;
}

.menu ul li a:hover{
    color: #37ff00;
    transition: 0.420s;
}

.toggle-btn{
    position: absolute;
    top: 2em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    text-decoration: none;
    font-size: 2em;
}

.toogle-btn .bar{
    color: #B700FF;
}


@media (max-width: 1080px) {

    .cart {
        margin: 1em;
        margin-right: 1em;
        position: absolute;
        top: 3em;
        right: 0em;
    }
    .logo{
        margin: 1em;
        margin-left: 1em;
    }
    .menu {
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-btn{
        display: flex;
        right: 7em;
    }
    .menu ul{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0em;
    }
    .menu ul li{
        text-align: center;
    }
    .menu ul li a {
        padding: .5rem 1rem 1rem 5rem;
    }
    .menu.active{
        display: flex;
    }


}

@media (max-width: 480px) {
    .toggle-btn{
        right: 3em;
    }
}
@media (max-width: 400px) {
    .toggle-btn{
        right: 1.5em;
    }
    .logo-musas{
        height: 15px;
    }
}

/*BANNER CALL TO ACTION*/

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20vh;
    background-image: url('/assets/img/arte.png');
    background-size: cover;
    background-position: center;
    background-color: #B700FF;
    color: #FFF;
    z-index: 999;
    font-size: 1.6rem;
    text-shadow: 1px 1px 2px black;;
}
@media (max-width: 1080px){
    .banner{
        font-size: 1rem;
    }
}
.hero h1{
    font-size: 3em;
}   
.hero button{
    transition: 0.420s;
    border: none;
    margin: 1em;
    padding: 0.5em 1em;
    background-color: white;
    color: #FFF;
}
.hero button a{
    font-family: 'Texturina', serif;
    color: #B700FF;
    font-size: 2em;
    text-decoration: none;
}
.hero button:hover{
    transition: 0.420s;
    background-color: #37ff00;
}


/* https://github.com/WebDevSimplified/css-tutorials/tree/master/Responsive%20Navbar */



/*SHOWRROM: que quede bonito...<3*/

.hero {
    display: block;
    width: 60%;
}
.showroom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #FFFF;
    margin: 0;
    padding-left: 0;
}
.ad{
    background-image: url("/assets/img/arte2.png");
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 80vh;
    border-radius: 5px;
}

.products{
    overflow-y: auto;
    position: relative;
    background-color: #FFF;
    max-height: 80%;
    width: 80vh;
    border-radius: 5px;
}

@media (max-width: 1080px){
    .ad{
        background-image: url("/assets/img/arte2.png");
        background-size: cover;
        background-color: #B700FF;
        height: 100vh;
        width: 100%;
        padding: 0 1em 0 1em;
        border-radius: 0px;
    }
    .products{
        min-height: 70vh;
        width: 100%; 
        border-radius: 0px;
    }
}

/*FOOTER related*/

/*prefooter*/
.pre-footer{
    height: 30vh;
}
.pre-footer img{
    height: 100px;
    padding-left: 2rem;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding-right: 2rem;
}

.socials li{
    margin: 0 45px;
}

.socials a{
    transition: 0.420s;
    text-decoration: none;
    color: #37ff00;
}
.socials a:hover{
    text-decoration: none;
    color: #B700FF;
    transition: 0.420s;
}
.socials a i{
    font-size: 3.5rem;
}

/*FOOTER: stuff*/

    /*Footer Form*/
    .form-cont{
        margin: auto;
        width: 450px;
        display: flex;
        border-radius: 6px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        background-color: #B700FF;
        max-width: 450px;
    }
    label  {
        font-size: 1.4rem;
        color: #FFF;
    }
    .form p{
        color: #FFF;
    }
    .form h3{
        color: #FFF;
        font-size: 1.6rem;
        font-family: 'Texturina', serif;
    }
    input{
        transition: 0.420s;
        padding: 0.5em;
        border: none;
    }
    input[type="email"], input[type="text"] {
        width: 15em;
    }
    input[type="submit"]{
        transition: 0.420s;
        border-radius: 6px;
        margin: 1em;
        padding: 0.5em 1em;
        background-color: black;
        color: #FFF;
        font-family: 'Texturina', serif;
        font-size: .8em;
    }
    input[type="submit"]:hover{
        transition: 0.420s;
        background-color: #37ff00;
    }

.flex-cont {
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.flex-item{
    margin: auto;
    align-items: center ;
    text-align: center;
    justify-content: space-between;
}

.flex-item ul a{
    transition: 0.420s;
    text-decoration: none;
    color: #B700FF;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: start;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Texturina', serif;
}

.flex-item ul li{
    list-style: none;
    font-family: 'Texturina', serif;
}
.flex-item ul a:hover{
    color: #37ff00;
    transition: 0.420s;

}

footer{
    height: 30vh;
    background-color: #FFFF;
    justify-content: flex-start;
}

.footer-item ul{
    text-align: center;
}

.footer-logo{
    height: 45px;
}

@media (max-width: 1280px) {
    .pre-footer img{
        height: 45px;
    }
    .socials li{
        margin: 0 5px;
    }
    .flex-cont{
        flex-direction: column-reverse; 
    }

    .pre-footer{
        flex-direction: row;
    }
   
    .footer-row  {
        display: none;
    }  
    .form-cont{
        width: auto;
        border-radius: 0px;
    }

    .flex-item ul a{
        padding-right: 2.5em;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    
    
}

.copyright{
    font-family: 'Kadwa', serif;
    color: #B700FF;
    text-align: center;
}
/**/



/*SHOP*/

main{
    padding-top: 45px;
    margin: 0 3rem 0 3rem;  
}
@media (max-width: 1200px) {
    main{
        margin: 0 1rem 0 1rem;
    }
}

.woo-commerce-custom{
    overflow-y: hidden;
}
h1{
    font-family: 'Texturina', serif;
}
.grid-product__price-value .ec-price-item{
    font-family: 'Cormorant Infant', serif;
}